body {
  background-color: #e6e6e6 ;
}
header, footer {
  background-color: #262626; 
  text-align: center;
}
header, h1, h3 {
  color:#ffffff; 
}
footer, p {
  color:  #ffffff;
}
.navbar {
  background-color: 262626;
  border-top: 5px solid #ffffff;
}
main {
  color: black;
}
